{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ulageshwaran Portfolio{% endblock %}</title>
    <meta name="description"
        content="Portfolio of Ulagesh, a full-stack web developer specializing in Django, Python, and frontend technologies.">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Space+Mono:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body>

    {% include 'components/navbar.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}

    <!-- JS -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <script src="{% static 'js/cursor.js' %}"></script>
</body>

</html>